// reset
@import "./imports/reset";

// blueprint
@import "../../../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

// imports
@import "./imports/colors";
@import "./imports/fonts";
@import "./imports/variables";
@import "./imports/links";
@import "./imports/blueprint_overides";
@import "./imports/animations";
@import "./imports/crypto_logos";
@import "./imports/code_highlighter";

// components
@import "../App";
@import "../react/components/header/index";

// pages
@import "../react/pages/home/index";
@import "../react/pages/api/index";
@import "../react/pages/api/overview/index";
@import "../react/pages/api/rest_api/index";
@import "../react/pages/auth/login/index";


html {
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	background: $bgColor;
	font-family: "B", sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: subpixel-antialiased;
	overflow: hidden;
	color: $black;

}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Selection
// -------------------------

::selection {
  background: $blade-purple1;
  color: $white;
}

::-moz-selection {
  background: $blade-purple1;
  color: $white;
}

// Links
// -------------------------


a {
	color: $blade-purple1;
	text-decoration: none;

	&:hover {
		color: $blade-purple2;
		text-decoration: none;
	}

	&:active {
		color: $blade-purple4;
	}
}
