// reset
@import "./imports/reset";

// blueprint
@import "../../../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

// imports
@import "./imports/colors";
@import "./imports/fonts";
@import "./imports/variables";
@import "./imports/links";
@import "./imports/blueprint_overides";

//components
@import "../App";
@import "../react/components/header/index";
@import "../react/components/navigation/main_links/MainLinks";

body {
	margin: 0;
	padding: 0;
	background: $bgColor;
	font-family: "Regular", sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: subpixel-antialiased;
	color: $black;
}

// Selection
// -------------------------

::selection {
  background: $blade-purple1;
  color: $white;
}

::-moz-selection {
  background: $blade-purple1;
  color: $white;
}
