@keyframes moveGradient {
    0% {
      transform: translateX(15%) translateY(-15%);
    }

    50% {
      transform: translateX(-25%) translateY(+15%) ;
    }

    100% {
      transform: translateX(15%) translateY(-15%) ;
    }
}

.animation-move-gradient {
    animation: moveGradient 10s 0s linear infinite;
    transform: translateX(15%) translateY(-15%);
}
