$bgColor: $white;

$blade-purple1: #716CFF;
$blade-purple2: #5F5BD9;
$blade-purple3: #4E4BB3;
$blade-purple4: #3E3B8C;
$blade-purple5: #2D2B66;

$btc: #EF9327;
$bch: #EF9327;
$eos: #443F54;
$ltc: #88CBF5;
$xrp: #0C95CD;
$xlm: $white;
