.main-links-container {

  ul.main-links {
    display: flex;

    li.main-link-container {
      margin: 0 25px;

      a.main-link {
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $dark-gray5;
        text-decoration: none;
        font-size: 12px;
        font-family: "Medium", sans-serif;
        line-height: 22px;
        transition: all .2s ease-in-out;

        &:hover {
          color: $blade-purple1;
        }

        &:active {
          opacity: 0.7
        }

        @extend .line-hover;
      }

      &.main-link-active {
        a.main-link {
          color: $blade-purple1;
          cursor: default;

          &:hover {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}
