.app-container {
  position: absolute;
  top: $header-height;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;

  .route-page {
    padding: 20px;
    margin: 0 auto;
    height: 3000px;
    position: relative;
    z-index: 2;

    &.route-page-white {
      background: $white;
    }

    .page-left-sidebar {
      position: fixed;
      top: 50 + $header-height;
      width: 250px;
      left: 0;
      bottom: 0;
    }

    .page-content-container {
      max-width: 820px;
      margin: 25px auto 150px auto;

      .healine-divider {
        &:after {
          content: "";
          width: 60px;
          height: 1px;
          background: $blade-purple1;
          position: absolute;
          bottom: -20px;
          left: 3px;
          z-index: 2;
        }

        &:before {
          content: "";
          height: 1px;
          background: $light-gray4;
          position: absolute;
          bottom:-20px;
          left: 3px;
          right: 0;
          z-index: 1
        }
      }

      p {
        color: $gray2;
        font-size: 14px;
        line-height: 23px;
        padding: 0 0 15px 0;
        letter-spacing: 0.2px;
        font-weight: 400;
      }

      b {
        font-weight: 600;
      }

      strong {
        font-weight: 600;
        color: $dark-gray2;
      }

      i {
        font-style: italic;
      }

      a {
        &:hover {
          text-decoration: underline;
        }
      }

      em {
        font-size: 24px;
        color: $dark-gray2;
        line-height: 34px;
        border-left: 4px solid $blade-purple1;
        display: block;
        padding: 0 0 0 30px;
        margin: 30px 0 30px 2px;
      }

      mark {
        font-size: 24px;
        color: $white;
        line-height: 34px;
        display: block;
        padding: 34px;
        margin: 30px 0 30px 2px;
        background-image: linear-gradient(215deg, #CA95FF 0%, #726EFF 39%, #6F6AFF 45%, #1D16FF 100%);
        box-shadow: 0 8px 35px 0 rgba(124,114,255,0.39);
        border-radius: 6px;
        overflow: hidden;
        position: relative;
        font-weight: 300;

        a {
          color: $white;
          font-weight: 600;
        }
      }

      blockquote {
        font-size: 24px;
        color: $white;
        line-height: 34px;
        display: block;
        padding: 34px;
        margin: 30px 0 30px 2px;
        background-image: linear-gradient(210deg, #1C272F 0%, #334E63 100%);
        box-shadow: 0 8px 35px 0 rgba(32,43,51,0.22);
        border-radius: 6px;
        overflow: hidden;
        position: relative;
        font-weight: 300;

        a {
          color: $white;
          font-weight: 600;
        }
      }

      small {
        color: $gray2;
        font-size: 11px;
        line-height: 18px;
        padding: 0 0 10px 0;
        letter-spacing: 0.2px;
        font-weight: 400;
      }

      h1 {
        font-family: "B", sans-serif;
        font-weight: 600;
        font-size: 74px;
        color: $dark-gray2;
        line-height: 90px;
        letter-spacing: 0.45px;
        margin: 0 0 44px 0;
        position: relative;
        left: -7px;

        &:after {
          content: "";
          width: 60px;
          height: 4px;
          background: $blade-purple1;
          position: absolute;
          bottom: -15px;
          left: 7px;
        }
      }

      h2 {
        font-family: "B", sans-serif;
        font-weight: 600;
        font-size: 40px;
        color: $dark-gray2;
        line-height: 90px;
        letter-spacing: 0.45px;
        margin: 50px 0 45px 0;
        position: relative;
        left: -2px;
        line-height: 45px;
        @extend .healine-divider;
      }

      h3 {
        font-family: "B", sans-serif;
        font-weight: 600;
        font-size: 24px;
        color: $dark-gray2;
        line-height: 30px;
        letter-spacing: 0.4px;
        margin: 15px 0 10px 0;
        position: relative;
      }

      h4 {
        font-family: "B", sans-serif;
        font-weight: 600;
        font-size: 18px;
        color: $dark-gray2;
        line-height: 20px;
        letter-spacing: 0.4px;
        margin: 20px 0 5px 0;
        position: relative;
      }

      h5 {
        font-family: "B", sans-serif;
        font-weight: 600;
        font-size: 40px;
        color: $blade-purple1;
        line-height: 90px;
        letter-spacing: 0.45px;
        margin: 50px 0 45px 0;
        position: relative;
        left: -2px;
        line-height: 45px;
        @extend .healine-divider;
      }

      h6 {
        font-family: "B", sans-serif;
        font-weight: 600;
        font-size: 24px;
        color: $blade-purple1;
        line-height: 30px;
        letter-spacing: 0.4px;
        margin: 15px 0 10px 0;
        position: relative;
      }


      ul {
        margin: 10px 0 25px 2px;

        ul, ol {
          margin-top: 15px;
          margin-bottom: 10px;
          letter-spacing: 0.2px;
        }

        li {
          margin: 0 0 15px 25px;
          position: relative;
          color: $gray2;
          line-height: 23px;

          &:before {
            content: "";
            width: 14px;
            height: 1px;
            background: $light-gray1;
            transition: all .2s;
            left: -25px;
            top: 10px;
            position: absolute;
          }

          &:hover {

            &:before {
              background: $blade-purple1;
            }
          }
        }
      }

      ol {
        list-style: none;
        counter-reset: blade;
        margin: 10px 0 25px 0;

        ol {
          margin: 10px 0 20px 25px;
        }
      }

      ol li {
        counter-increment: blade;
        letter-spacing: 0.2px;
        margin: 15px 0 10px 0;
        position: relative;
        color: $gray2;
        line-height: 23px;
      }

      ol li:before {
        content: counter(blade) ". ";
        font-weight: 600;
        margin: 0 4px;
        transition: all .2s;
        color: $dark-gray2;
      }

      ol li:hover {
        &:hover {
          &:before {
            color: $blade-purple1
          }
        }
      }
    }
  }

  .page-bg {
    position: absolute;
    top: -200px;
    right: -200px;
    left: -200px;
    height: 1500px;
    background-image: linear-gradient(222deg, #E8ECEE 0%, #FAFAFB 100%);

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 900px;
      background-image: linear-gradient(180deg, rgba(255,255,255,0.00) 0%, #FFFFFF 100%);
    }
  }
}
